* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.centrado {
  margin: 10% 0px;
  display: flex;
  place-content: center;
}

main img {
  width: 350px;
}

/* ===== DECORACION DE NAVBAR ====== */
.logo {
  width: 90px;
  margin-left: 50px;
}

.perfil {
  width: 30px;
}

.navbar a {
  color: white;
  text-decoration: underline;
  transition: all .4s ease-out;
}

.navbar a:hover {
  color: red;
  text-decoration: line-through;

}

.negro {
  background-color: black;
}

/* ===== DECORACION DE LOGIN ====== */

.rojo {
  background-color: red !important;
}

.container__login {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.pantalla__login {
  height: 100vh;
  background: no-repeat url('../../public/fondoLogin.jpg');
  background-size: cover;
  display: flex;
  place-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.formulario__login {
  max-height: 400px;
  border-radius: 5px;
}

/* ===== DECORACION DE FOOTER ====== */
.footer {
  background-color: black;
  color: white;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.footer__icons {
  display: flex;
  place-content: center;
}

.footer__icons i {
  font-size: 1.4rem;
  margin: 5px 20px;
  transition: all .3s ease-in;
}

.footer__icons i:hover {
  color: rgb(166, 36, 36);
  transform: scale(1.3);
}

.footer__links a {
  text-decoration: none;
  color: grey;
  padding: 5px;
  font-size: 14px;
}

.footer__links a:hover {
  color: grey;
  text-decoration: underline;
}

.footer__copyright {
  font-size: 11px;
  color: grey;
}

.footer__copyright p {
  margin-bottom: 0;
  text-align: center;
}

/* =====DECORACION MOVIES ===== */
.movies__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  background-color: black;
}

.card-body {
  width: 300px;
  color: white;
}

.card-body h2 {
  text-align: center;
  color: white;
}


/* =====DECORACION SERIES ===== */
.series__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  background-color: black;
}


/*  barra de opciones antes del login           */
.container__simple_nav {
  position: absolute;
  display:flexbox;
  text-align: end;
  padding: 50px;

}

/*menu de perfil*/
.container__profile_menu{
  position: absolute;
  display: flex;
  place-content: flex-end;
  margin-top: 2px;
}

.profile__menu{
  width:225px;
  background-color: rgb(0, 0, 0);
  text-align: left;
}

.profile__menu a{
  text-decoration:none;
  color: white;
}

.profile__menu li :hover{
  color: white ;
  font-weight: bold;
}
